*{
    box-sizing: border-box;}
body{
    background-color: burlywood;
    font-family:'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh ;
    overflow: hidden;
    margin: 0;

}
.btn{
    background-color: brown;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;

}
.btn:hover{
opacity: 0.9;
}
.btn:focus{
    outline: none;
}

@media (max-width:480px){
    .btn{
        width: 80%;
        font-size: 1rem;
        padding: 1.5rem;
        ;
    }
    body{
        flex-direction: column;
        padding: 1rem;
        
    }
}
